$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-body-demo: #777;
:root {
  --color-bg: hsl(240, 37%, 11%);
  --color-header-bg: hsl(240, 37%, 20%);
  --color-text: hsl(0, 0%, 93%);
  --color-dark-text: #111518;
}
